:root {
  --main-title-color: #2f3d4f;
  --main-subtitle-color: #38485d;
  --main-text-color: #2f3d4f;
  --main-background-color: #fdfdfd;
  --main-accent-color: #1913d1;
}

[data-theme='dark'] {
  --main-title-color: #e2e9e9;
  --main-subtitle-color: #bec3c7;
  --main-text-color: #c5c6cd;
  --main-background-color: #0c1013;
  --main-accent-color: #1913d1;
}

body {
  margin: 0;
  padding: 0;
  color: var(--main-text-color);
  background: var(--main-background-color);
  font-family: var(--main-primary-font);
}
